@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Mysuru:wght@300;400;500;600;700&family=PT+Sans&family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400;700&display=swap');


*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #f4f4f4;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.wrapper {

    padding: 15px;
    min-height: 100%;
    max-width: 1440px;
    max-height: 1080px;
    border: 1px solid #42567A;
    margin: 10px auto;
    background: #f4f5f9;
    margin: 0 auto;

}



h1 {

    max-width: 353px;
    max-height: 135px;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 3em;
    line-height: 120%;
    letter-spacing: 0%;
    color: #42567A;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-image: linear-gradient(to bottom right,
            #3877EE -5%, #EF5DA8 85%) 0 100%;
    padding: 50px 20px;

}

.circle {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #42567A;
    border-radius: 50%;
}

.year {
    position: relative;
    width: 973px;
    height: 160px;
    align-items: center;
    justify-content: center;
    padding-top: 30%;

}


#start {
    position: absolute;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 12vh;
    line-height: 160px;
    letter-spacing: -2%;
    text-align: center;
    color: #3877EE;
    padding: 0 30px;
    top: 50%;
    left: -20%;
}

#end {
    position: absolute;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 12vh;
    line-height: 160px;
    letter-spacing: -2%;
    text-align: center;
    color: #d8389e;
    top: 50%;
    right: 30%;
    padding: 0 30px;

}

button {
    border: 1px solid rgb(210, 207, 207);
    border-radius: 50%;
    position: absolute;
}


button:nth-child(1) {
    top: -1%;
    left: 45%;
}

button:nth-child(2) {
    top: 20%;
    right: 6%;
}

button:nth-child(3) {
    top: 70%;
    right: 3%;
}

button:nth-child(4) {
    bottom: -1%;
    right: 45%;
}

button:nth-child(5) {
    bottom: 25%;
    left: 3%;
}

button:nth-child(6) {
    top: 20%;
    left: 6%;
}




.circle-slider .swiper-button-prev::after,
.circle-slider .swiper-button-next::after {

    border: 2px solid #ffffff;
    background-color: #ffffffce;
    font-size: 30px;
    border-radius: 50%;


}

.circle-slider .swiper-pagination {
    bottom: 0;

}

.circle-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    background-color: #42567A;

}

.btn {
    max-width: 56px;
    max-height: 56px;
    font-family: PT Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #42567A;
    border-radius: 50%;

}

.title {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3877EE;
}

.poster-slider {
    padding: 30px 0 70px 0;
    width: 90%;
}

.poster-slider__wrapper {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 20px;

}

.poster-slider__slide {
    text-align: center;
}



.poster-slider .swiper-button-prev::after,
.poster-slider .swiper-button-next::after {

    border: 2px solid #ffffff;
    background-color: #ffffffce;
    font-size: 30px;
    border-radius: 50%;


}

.poster-slider .swiper-pagination {
    bottom: 0;

}

.poster-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    background-color: #42567A;

}

.poster-slider .swiper-scrollbar-drag {
    cursor: pointer;
}


.image-in-slider {
    height: 450px;
}

.image-in-slider__slide {
    height: 450px;
}

.image-in-slider__image img {
    max-width: 100%;
}

.active {
    /* color: #42567A; */
    background: lightgrey;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 0 10px;
    color: red;

}


@media (max-width: 1800px) {
    .circle {
        width: 450px;
        height: 450px;
    }

    .year {
        position: relative;
        width: 773px;
        height: 140px;
    }

    #start {
        position: absolute;
        left: -25%
    }

    #end {
        position: absolute;
        right: 20%;
    }

    h1 {
        font-size: 2.5em;
        border-image: linear-gradient(to bottom right,
                #3877EE -5%, #EF5DA8 85%) 0 100%;
        padding: 50px 20px;
    }


}

@media (max-width: 1600px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        padding: 10px;
        column-gap: 10%;
        margin-bottom: 30px;
    }

    .circle {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        border: 1px solid #42567A;
        border-radius: 50%;
    }

    .year {
        position: relative;
        width: 650px;
    }

    #start {
        position: absolute;
        left: -25%;
        font-size: 5.5em;
    }

    #end {
        position: absolute;
        right: 20%;
        font-size: 5.5em;
    }

    h1 {
        max-width: 700px;
        font-size: 5.5vh;
        border-style: solid;
        border-width: 0 0 0 0;



    }
}

@media (max-width: 1440px) {
    .circle {
        width: 300px;
        height: 300px;
        margin: 0 50%;
    }

    .year {
        position: relative;
        width: 450px;
    }

    #start {
        position: absolute;
        top: 30%;
        left: -20%;
        font-size: 3.5em;
    }

    #end {
        position: absolute;
        top: 30%;
        right: 15%;
        font-size: 3.5em;
    }

    h1 {
        max-width: 700px;
        font-size: 5.5vh;
        border-style: solid;
        border-width: 0 0 0 0;


    }
}

@media (max-width: 1024px) {
    h1 {
        max-width: 100%;
        margin-top: 0;
        border-style: solid;
        border-width: 0 0 0 0;
        text-decoration: none;
        text-align: center;
    }

    .circle {
        width: 400px;
        height: 400px;
    }



    #start {
        left: -30%;
        font-size: 4.5em;
    }

    #end {

        right: -10%;
        font-size: 4.5em;
    }

}

@media (max-width: 992px) {
    h1 {
        max-width: 100%;
        margin-top: 0;
        border-style: solid;
        border-width: 0 0 0 0;
        text-decoration: none;
        text-align: center;
        font-size: 40px;
    }

    .circle {
        width: 250px;
        height: 250px;
    }


    #start {
        left: -20%;
        font-size: 2.5em;
    }

    #end {

        right: 25%;
        font-size: 2.5em;
    }

}

@media (max-width: 776px) {}

@media (max-width: 480px) {
    .wrapper {
        margin: 0;
        padding: 0;

    }

    .circle {
        width: 250px;
        height: 250px;
    }


    #start {
        left: -15%;
        font-size: 2em;
        top: 20%;
    }

    #end {
        top: 20%;
        right: 30%;
        font-size: 2em;
    }
}

@media (min-width: 1800px) {
    .year {
        display: flex;

    }

    #start {
        left: -15%;
        font-size: 6em;
        top: 40%;

    }

    #end {
        top: 40%;
        right: 30%;
        font-size: 6em;
    }
}